In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### 1. Load the tips dataset from either pydataset or seaborn.

In [3]:
from pydataset import data

In [6]:
tips = data('tips')
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2

In [14]:
#no null values
tips.shape

(244, 7)

### 2. Fit a linear regression model (ordinary least squares) and compute yhat, predictions of tip using total_bill.

Here is some sample code to get you started:

In [15]:
X = tips[['total_bill']]
y = tips['tip']

In [18]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression(normalize=True)
# assuming X and y are already defined
model = lm.fit(tips[['total_bill']], tips['tip'])
predictions = model.predict(X)

Modify and add to the code above as necessary for it to work with the tips dataset.

In [20]:
# make prediction
tips['yhat'] = lm.predict(X)

tips

     total_bill   tip     sex smoker   day    time  size      yhat
1         16.99  1.01  Female     No   Sun  Dinner     2  2.704636
2         10.34  1.66    Male     No   Sun  Dinner     3  2.006223
3         21.01  3.50    Male     No   Sun  Dinner     3  3.126835
4         23.68  3.31    Male     No   Sun  Dinner     2  3.407250
5         24.59  3.61  Female     No   Sun  Dinner     4  3.502822
..          ...   ...     ...    ...   ...     ...   ...       ...
240       29.03  5.92    Male     No   Sat  Dinner     3  3.969131
241       27.18  2.00  Female    Yes   Sat  Dinner     2  3.774836
242       22.67  2.00    Male    Yes   Sat  Dinner     2  3.301175
243       17.82  1.75    Male     No   Sat  Dinner     2  2.791807
244       18.78  3.00  Female     No  Thur  Dinner     2  2.892630

[244 rows x 8 columns]

### 3. Plot the residuals for the linear regression model that you made.

### 4. Calculate the sum of squared errors, explained sum of squares, total sum of squares, mean squared error, and root mean squared error for your model.

### 5. Calculate the sum of squared errors, mean squared error, and root mean squared error for the baseline model (i.e. a model that always predicts the average tip amount).

### 6. Write python code that compares the sum of squared errors for your model against the sum of squared errors for the baseline model and outputs whether or not your model performs better than the baseline model.

### 7. What is the amount of variance explained in your model?

### 8. Is your model better than the baseline model?

### 9. Create a file named evaluate.py that contains the following functions.

- plot_residuals(y, yhat): creates a residual plot
- regression_errors(y, yhat): returns the following values:
- sum of squared errors (SSE)
- explained sum of squares (ESS)
- total sum of squares (TSS)
- mean squared error (MSE)
- root mean squared error (RMSE)
- baseline_mean_errors(y): computes the SSE, MSE, and RMSE for the baseline model
- better_than_baseline(y, yhat): returns true if your model performs better than the baseline, otherwise false

### 10. Load the mpg dataset and fit a model that predicts highway mileage based on engine displacement. Take a look at all the regression evaluation metrics, and determine whether this model is better than the baseline model. Use the functions from your evaluate.py to help accomplish this.