In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [20]:
# importing my personal wrangle module

import wrangle

In [21]:
# Acquiring the data using the above module

zillow = wrangle.get_zillow_data()

In [4]:
zillow.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

In [6]:
zillow.shape

(2152863, 7)

In [7]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB

In [24]:
# checking for null values

zillow.isnull().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [23]:
# for loop that is checking every column for any white space

cols = ['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips']
for col in cols:
    print(zillow[col].value_counts(dropna=False,ascending=True))

25.0         1
16.0         2
18.0         3
15.0         6
14.0         7
NaN         11
12.0        12
13.0        16
11.0        34
10.0       121
9.0        291
8.0       1107
7.0       4807
0.0      13187
1.0      23166
6.0      25166
5.0     150866
2.0     335473
4.0     634289
3.0     964298
Name: bedroomcnt, dtype: int64
19.50         1
32.00         1
14.50         1
19.00         1
11.50         3
1.75          3
12.50         3
17.00         4
20.00         6
18.00         8
NaN          11
16.00        12
10.50        14
0.50         16
15.00        17
14.00        25
13.00        39
9.50         50
12.00        73
8.50        110
11.00       146
10.00       325
7.50        384
9.00        713
6.50       1333
8.00       1692
7.00       4394
5.50       6217
6.00      10747
0.00      13027
4.50      19506
5.00      28362
3.50      28518
1.50      31211
4.00      82155
2.50     142981
1.00     414324
3.00     422841
2.00     943589
Name: bathroomcnt, dtype: int64
11830.0       1
9070.0        1
266.0         1
10324.0       1
9347.0        1
           ...
1400.0     3833
1120.0     4362
1080.0     4389
1200.0     5195
NaN        8484
Name: calculatedfinishedsquarefeet, Length: 10581, dtype: int64
1436013.0      1
2363587.0      1
291157.0       1
270724.0       1
439410.0       1
            ...
440000.0     685
430000.0     690
400000.0     729
500000.0     779
450000.0     821
Name: taxvaluedollarcnt, Length: 592270, dtype: int64
1855.0        1
1840.0        1
1823.0        1
1833.0        1
1862.0        1
          ...
1956.0    61942
1953.0    62342
1954.0    69163
1950.0    71693
1955.0    84405
Name: yearbuilt, Length: 154, dtype: int64
19517.64       1
13302.62       1
7608.71        1
7502.62        1
80740.10       1
            ...
285.30        67
343.52        75
344.18        77
345.72       172
NaN         4442
Name: taxamount, Length: 918839, dtype: int64
6111.0     165975
6059.0     555077
6037.0    1431811
Name: fips, dtype: int64

In [25]:
zillow_temp = zillow.dropna()

In [27]:
zillow_temp.isna().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64